NODE_ENV=development
PORT=3000

# For local development:
DATABASE_URL="mongodb://<username>:<password>@localhost:27017/vapt_generator?authSource=admin"
# For production:
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/vapt_generator?retryWrites=true&w=majority"